# Maven
/target/

# Logs
*.log

# Compiled classes
*.class

# OS files
.DS_Store
Thumbs.db

# IDEs and editors
/.idea/
*.iml
*.ipr
*.iws
/.vscode/
*.swp

# Eclipse
.classpath
.project
.settings/

# IntelliJ
/out/
